.second__slider {
  width: 100%;
  height: 18.75rem;
  position: relative;
  margin-bottom: 1.5625rem;
  display: flex;
  &-wrapper {
    position: relative;
    max-width: 43.75rem;
    width: 100%;
    margin-right: 1.25rem;
  }
  &:before {
    right: 100%;
    margin-right: 0.625rem;
  }
  &:before {
    content: url('/img/blog/icon/ico-slider.svg');
    position: absolute;
    padding: 1.1875rem 1.25rem;
    line-height: 0.9;
    top: 0;
    height: 4.625rem;
    background: #e8603c;
  }
}
.slider {
  position: relative;
  overflow: hidden;
  &__prev,
  &__next {
    position: absolute;
    top: 8.375rem;
    left: 1.25rem;
    width: 2.5rem;
    height: 3.125rem;
    z-index: 1000;
    font-size: 3.375rem;
    cursor: pointer;
  }
  &__next {
    left: auto;
    right: 1.25rem;
    transform: rotateY(180deg);
  }
  &__slides {
    display: flex;
    transition: 0.6s;
    transition-timing-function: ease-in-out;
  }
  &__one-nav {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.3125rem;
    border-radius: 50%;
    border: 1px solid lightgray;
    background: lightgray;
    cursor: pointer;
  }
}

.slide {
  position: relative;
  height: 18.75rem;
  padding-bottom: 42%; //чтобы пропорции жались при резине
}
.btns__one {
  text-align: center;
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  opacity: 0;
  visibility: hidden;
}

.active {
  border: tomato;
  background: tomato;
}
