.container
  .blog
    .blog__wrapper
      include second-slider
      include wordpress
      .img__container-jesus
        img.blog__img(src="/img/blog/jesus.png", alt="jesus")
      include jesus
      .img__container-bunny
        img.blog__img(src="/img/blog/rabbit.png", alt="jesus")
      include rabbit
      include quote
      include link
      include pagination
    include ../sidebar
