article.blog__article.domain
  h3.blog__article-title.domain__title Some  of  the  best  freebies  on  the  web
  span.blog__article-link.domain__link www.bestpsdfreebies.com
  p.blog__article-text.domain__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga impedit architecto quis. Obcaecati nihil odio vel ipsum distinctio repellendus, aut beatae, deserunt, voluptatem ut velit.
section.strip
