article.blog__article
  .blockquote__wrapper
    blockquote.quote__quotes Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iste voluptas consequatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iste voluptas consequatur!
section.strip
