article.blog__article
  ul.blog__article-list
    li.blog__article-item Date
      a.blog__article-link(href="#") April 15, 2012
    li.blog__article-item Tags
      a.blog__article-link(href="#") Website | Design
    li.blog__article-item Comments
      a.blog__article-link(href="#") 4
  .blog__article-description
    h3.blog__article-title Big  Buck  Bunny  Trailer
    p.blog__article-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, eius provident facilis consequuntur ad veniam fugit voluptatum. Culpa, corrupti perspiciatis repudiandae cupiditate reiciendis, dolor quae iure praesentium ratione sed, minima ab nobis? Sit odit consequatur voluptas optio magni obcaecati illum, facilis, id, hic esse laudantium repellendus ab?
    p.blog__article-text Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
section.strip
