section.second__slider
  .second__slider-wrapper
    .slider
      .slider__slides
        .slider__slide.slide(style='background: url(./img/slide.jpg)')
        .slider__slide.slide(style='background: url(./img/slide.jpg)')
        .slider__slide.slide(style='background: url(./img/slide.jpg)')
      a.slider__prev(href="#")
        img(src="/img/icons/arrow.svg", alt="arrow")
      a.slider__next(href="#")
        img(src="/img/icons/arrow.svg", alt="arrow")
      .btns__one
        .slider__one-nav.active
        .slider__one-nav
        .slider__one-nav
