.content
  .container
    include features
    .block
      h3.block__title.h3 Recent works
      .block__works
        a.work(href='#')
          .work__img
            img(src="/img/home/1_down.png", alt="image first")
          .work__bottom
            h4.work__title Character Design
            .work__date June 15, 2012
        a.work(href='#')
          .work__img
            img(src="/img/home/2_down.png", alt="image second")
          .work__bottom
            h4.work__title Character Design
            .work__date June 15, 2012
        a.work(href='#')
          .work__img
            img(src="/img/home/3_down.png", alt="image third")
          .work__bottom
            h4.work__title Character Design
            .work__date June 15, 2012
        a.work(href='#')
          .work__img
            img(src="/img/home/4_down.png", alt="image fourd")
          .work__bottom
            h4.work__title Character Design
            .work__date June 15, 2012
