.features
  .feature
    .feature__title
      .feature__icon
        img(src="/img/icons/cog.svg", alt="cog icon")
      h2 Check out my latest portfolio items
    .feature__text
      p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
    a.feature__more.button(href='#') More
  .feature
    .feature__title
      .feature__icon
        img(src="/img/icons/check.svg", alt="check icon")
      h2 Offer top notch quality work & services
    .feature__text
      p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
    a.feature__more.button(href='#') More
  .feature
    .feature__title
      .feature__icon
          img(src="/img/icons/user.svg", alt="user icon")
      h2 Follow me on twitter facebook & pinterest
    .feature__text
      p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
    a.feature__more.button(href='#') More
