.hero
  section.container
    .hero__wrapper
      .slider
        .slider__slides
          .slider__slide.slide(style='background: url(./img/slide.jpg)')
            .slide__content
              h3.slide__title Slide One
              p.slide__text
                | Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
          .slider__slide.slide(style='background: url(./img/slide.jpg)')
            .slide__content
              h3.slide__title Slide One
              p.slide__text
                | Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
          .slider__slide.slide(style='background: url(./img/slide.jpg)')
            .slide__content
              h3.slide__title Slide One
              p.slide__text
                | Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea.
        a.slider__prev(href="#")
          img(src="/img/icons/arrow.svg", alt="arrow")
        a.slider__next(href="#")
          img(src="/img/icons/arrow.svg", alt="arrow")
        .btns__one
          .slider__one-nav.active
          .slider__one-nav
          .slider__one-nav
    include thumbs
