.thumbs
  ul.thumbs__list
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/1.png)')
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/2.png)')
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/3.png)')
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/4.png)')
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/5.png)')
    li.thumbs__item
      a.thumbs__link(href="#" style='background: url(./img/home/6.png)')
