.contacts__description
  ul.contacts__description-list
    li.contacts__description-item
        p.contacts__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reprehenderit ipsam blanditiis eius? Facilis vero obcaecati dolores quis, consequuntur pariatur magni culpa, cupiditate eos veniam praesentium sed quae quisquam harum? Minus, fugit?
    li.contacts__description-item
      ul.contacts__address-title Best PSD Freebies
        li.contacts__address-text 328 Ave C
        li.contacts__address-text Saskatoon, SK
        li.contacts__address-text S7R 2V9
    li.contacts__description-item
      ul.contacts__phones-list
        li.contacts__phones-item
          a.contacts__phones-link(href='phone:') t: (888) 842 - 8356
        li.contacts__phones-item
          a.contacts__phones-link(href='phone:') f: (888) 452 - 9257
        li.contacts__phones-item
          a.contacts__phones-link(href='email:') e: info@psdfreebies.com
  include form
