form.contacts__form(name='contactsForm' method='POST')
  input.contacts__input(type='text' name='firstname' placeholder='firstname' tabindex='1')
  input.contacts__input(type='text' name='lasttname' placeholder='lasttname' tabindex='2')
  input.contacts__input(type='text' name='emailaddress' placeholder='emailaddress' tabindex='3')
  textarea.contacts__textarea(name="message", cols="30", rows="10" placeholder='message' tabindex='4')
  input.contacts__btn.active__bacground(type='submit' value='Sumbit')
