.portfolio__menu
  .menu__list
    a.menu__link.active__bacground(href="#") all
    a.menu__link(href="#") pront
    a.menu__link(href="#") web
    a.menu__link(href="#") photoshop
    a.menu__link(href="#") wordpress
