aside.sidebar__wrapper
  section.jetro
    .h3 About Jetro
    p.jetro__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias corporis officia accusamus dolore officiis soluta doloremque! Rem doloremque, quia id, inventore laboriosam architecto porro mollitia omnis eius quisquam quas sunt?
  section.categories
    .h3 Categories
    ul.categories__list
      li.categories__item
        a.categories__link(href="#") Video (3)
      li.categories__item
        a.categories__link(href="") Sports (5)
      li.categories__item
        a.categories__link(href="#") Media (2)
      li.categories__item
        a.categories__link(href="#") Entertainment (7)
      li.categories__item
        a.categories__link(href="#") Life (4)
      li.categories__item
        a.categories__link(href="#") Super Cool Stuff (8)
  section.photogallery
    .h3 Photo gallery
    .photogallery__wrapper
      .photogallery__img
      .photogallery__img
      .photogallery__img
      .photogallery__img
      .photogallery__img
      .photogallery__img
      .photogallery__img
      .photogallery__img
