footer.footer
  section.container
    .footer__wrapper
      .footer__col
        h2.footer__title About Jetro
        .footer__text
          p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
          p et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
      .footer__col
        h2.footer__title Twitter Widget
        .twitt
          .twitt__content
            a.twitt__content-link(href='#') @pixelmater
            |&nbsp;What an awesome design with great functionality :)
          .twitt__published
            a.twitt__published-link(href='#') About 1 hour
        .twitt
          .twitt__content
            a.twitt__content-link(href='#') @pixelmater
            |&nbsp;What an awesome design with great functionality :)
          .twitt__published
            a.twitt__published-link(href='#') About 2 hour
        .twitt
          .twitt__content Follow&nbsp;
            a.twitt__content-link(href='#') @bestpsdfreebies
      .footer__col
        h2.footer__title Contact us
        .footer__text
          p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri.
          p.footer__white-links
            a.footer__text-link(href='mailto:') information@jetro.com
          a.footer__text-link(href='#') 1.222.333.4444
          ul.footer__socials-list
            li.footer__socials-item
              a.footer__socials-link(href="#")
                img.footer__social-svg.facebook(src="/img/socials/ico-facebook.svg", alt="facebook")
            li.footer__socials-item
              a.footer__socials-link(href="#")
                img.footer__social-svg.twitter(src="/img/socials/ico-twitter.svg", alt="twitter")
            li.footer__socials-item
              a.footer__socials-link(href="#")
                img.footer__social-svg.email(src="/img/socials/ico-email.svg", alt="email")
            li.footer__socials-item
              a.footer__socials-link(href="#")
                img.footer__social-svg.signal(src="/img/socials/ico-signal.svg", alt="signal")
            li.footer__socials-item
              a.footer__socials-link(href="#")
                img.footer__social-svg.vimeo(src="/img/socials/ico-vimeo.svg", alt="vimeo1")
