header.header
  section.container
    .header__wrapper
      .header__logo
        a.logo(href='/')
          .logo__part1 JET
          .logo__part2 PRO
      .header__nav
        .nav
          a.nav__link(href="/") home
          a.nav__link(href="/about.html") about us
          a.nav__link(href="/blog.html") blog
          a.nav__link(href="/portfolio.html") portfolio
          a.nav__link(href="/contacts.html") contact us
